#boxing {
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 15px;
    max-width: 900px;
   

}

.displays {
    display: flex;

}

#alineamos {
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
}

#alinea {
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
}

#card-title, #email {
    text-align: center;
}

.decoraci {
    text-align: center;
    text-decoration: none;
}