@font-face {
  font-family: "Toriga-Medium";
  src: url(Toriga-Medium.otf) format("opentype");
}
* {
  font-family: "Toriga-Medium";
  font-weight: bold;
  letter-spacing: -1px;
  word-spacing: -2px;
}

.container {
  padding: 5%;
  width: 80%;
}
.carousel-item {
  width: 100%;
}
h1 {
  color: rgba(0, 21, 137);
}

a:hover {
  background-color: red;
}
.wsp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.wsp img {
  width: 50px;
  height: 50px;
}
.galeria {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.galeria img {
  width: 200px;
  height: auto;
}
h1 {
  text-align: center;
  padding: 20px;
}
